<!DOCTYPE html>
<html>
    <%- include("templates/head.ejs"); %>
    <body>
        <div class="grid-container">
            <%- include("templates/header.ejs"); %>
            <%- include("templates/nav.ejs"); %>
            <main>
                <table class="w3-table w3-striped w3-bordered">
                    <tr><th>Library Name</th><th>Address</th><th>Telephone</th></tr>
                <% for (var i=0; i<rows.length; i++) { %>
                <tr>
                    <td><%= rows[i]['Library Name'] %></td>
                    <td><%= rows[i]['Full address'] %></td>
                    <td><%= rows[i].Telephone %></td>
                </tr>
                <% } %>
                </table>
            </main>
        </div>
    </body>
</html>